[Desktop Entry]
Type=Application
Name=Yandex Mail
Exec=YandexMail
Icon=/usr/share/pixmaps/YandexMail.png
Terminal=false
Categories=Mail;Yandex;Nativefier;